<!doctype html>
<html ng-app>
    <head>
        <script src="angular.min.js"></script>
    </head>
    <body>
        Your name: <input type="text" ng-model="yourname" placeholder="World">
        Your password: <input type="text" ng-model="yourpassword" placeholder="Password">
        <hr>
        Hello {{yourname || 'World'}}!
        <textarea id="textarearesult">{{yourname}}{{yourpassword}}</textarea>
        <p>1 + 2 = {{ 1 + 2 }}</p>
        <p>Nothing here {{'yet' + '!'}}</p>
    </body>
</html>