<html ng-app="imglist">
	<head>
		<script src="angular.js"></script>
		<script src="phonecontroller3.js"></script>
	</head>
	<body ng-controller="imglistcontrol">
		<ul ng-repeat="imginfo in imginfos">
			<li>
				<img ng-src="{{imginfo.imgurl}}" />
			</li>
		</ul>
	</body>
</html>