<html ng-app="phonelist">
	<head>
		<script src="angular.js"></script>
		<script src="phonecontroller.js"></script>
	</head>
	<body ng-controller="PhoneListInit">
		<ul>
			<li ng-repeat="phone in phones">
				{{phone.name}}:{{phone.snippet}}
			</li>
		</ul>
	</body>
</html>