<html ng-app="phonelist">
	<head>
		<script src="angular.js"></script>
		<script src="phonecontroller2.js"></script>
		<title ng-bind-template="title:{{query}}"></title>
	</head>
	<body>Search :
		<input ng-model="query" ng-change='change()'>OrderBy :
		<select ng-model="orderProp">
			<option value="Name">Name</option>
			<option value="Age">Age</option>
		</select>
		<ul ng-controller="PhoneListInit">
			<li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
				{{phone.Name}}:{{phone.Snippet}}
			</li>
		</ul>
	</body>

</html>
