<div>afasdfsf</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      Search:
      <input ng-model="query"> Sort By:
      <select name="" id="" ng-model="orderProp">
        <option value="Name">name</option>
        <option value="Id">id</option>
      </select>
    </div>
    <div class="span10">
      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProt">
          <a href="#/phones/{{phone.Id}}" class="thumb">
            <img mg-src="{{phone.imgurl}}">
          </a>
          <a href="#/phones/{{phone.Id}}">{{phone.Name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
